.packages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 0 2rem;
  margin-top: -17.5rem;
  padding-bottom: 20rem;
}

.cloud {
  margin-top: 2rem;
  width: 100%;
}

@media (max-width: 900px) {
  .packages {
    grid-template-columns: 1fr;
  }
}
