* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.694vw;

  --purple-color: #b96986;
  --blue-color: rgba(146, 170, 185);
  --blue-color-opacity: rgba(146, 170, 185, 0.6);
  --background-color: rgba(255, 236, 194);
}

body {
  font-family: var(--font-rubik);
  background-color: var(--background-color);

  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sourGummy);
}

.container {
  margin: 0 10rem;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 992px) {
  html {
    font-size: 1.111vw;
  }

  .container {
    margin: 0 3rem;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 10px;
  }

  .container {
    margin: 0 2rem;
  }
}

/* reuse */

.contentWrapper {
  background-color: #abc3eb;
}

.content {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.content img {
  width: 100%;
  margin-bottom: 5rem;
  border-radius: 1rem;
}

.content h2 {
  font-size: 5rem;
  margin-bottom: 1rem;
  line-height: 100%;
}

.content p {
  font-size: 1.6rem;
  line-height: 140%;
  margin-bottom: 2rem;
}

@media (max-width: 650px) {
  .content {
    padding-top: 15rem;
    padding-bottom: 15rem;
  }

  .content h2 {
    font-size: 3rem;
  }
}
