* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color: #1e212e;
}

html {
  font-size: 0.694vw;

  --purple-color: #b96986;
  --blue-color: rgba(146, 170, 185);
  --blue-color-opacity: rgba(146, 170, 185, 0.6);
  --background-color: rgba(255, 236, 194);
}

body {
  font-family: var(--font-rubik);
  background-color: var(--background-color);

  overflow-x: hidden !important;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: var(--font-sourGummy);
}

.container {
  margin: 0 auto;
  max-width: 132rem;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 1380px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 1.111vw;
  }

  .container {
    margin: 0 3rem;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 10px;
  }

  .container {
    margin: 0 2rem;
  }
}

/* reuse */

.contentWrapper {
  background-color: rgba(232, 207, 173, 1);
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
    url(../../public/assets/images/background.jpg); */
  padding-top: 20rem;
  padding-bottom: 20rem;
}

h4 {
  font-weight: 500;
}

.content > div {
  max-width: 90rem;
}

.contentWrapper img {
  width: 100%;
  margin-bottom: 5rem;
  border-radius: 1rem;
}

.contentWrapper h2 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  line-height: 100%;
}

.contentWrapper h4 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  line-height: 100%;
}

.contentWrapper p {
  font-size: 1.8rem;
  line-height: 140%;
  margin-bottom: 2rem;
}

.contentWrapper ul {
  display: flex;
  flex-direction: column;
}
.contentWrapper li {
  list-style-type: none;
}

@media (max-width: 650px) {
  .contentWrapper {
    padding-top: 15rem;
    padding-bottom: 15rem;
  }

  .contentWrapper h2 {
    font-size: 3rem;
  }
}
