.section {
  position: relative;

  padding: 20rem 0;
  width: 100vw;
  overflow-x: hidden;
}

.cloud {
  position: absolute;
  transform: rotate(180deg) translateY(50%);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 21;
}

.content {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.section h2 {
  font-size: 5.5rem;
  margin-bottom: 0rem;
}

.section p {
  width: 60rem;
  line-height: 140%;
  font-size: 1.6rem;
}

.instagram {
  display: flex;
  justify-content: center;
  position: relative;
}

.instagramWrapper {
  width: 70%;
}

.instagram > img {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 110%;
  transform: translateY(-5%);
}

@media (max-width: 992px) {
  .section {
    padding: 15rem 0;
  }

  .content {
    grid-template-columns: 1fr;
    text-align: center;
    font-size: 1.4rem;
  }
  .content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section h2 {
    margin-bottom: 1rem;
  }

  .section p {
    max-width: 75rem;
    font-size: 1.6rem;
    width: 100%;
  }
}

@media (max-width: 650px) {
  .section h2 {
    font-size: 3rem;
  }

  .instagramWrapper {
    width: 100%;
  }

  .instagram > img {
    position: absolute;
    width: 120%;
    z-index: -1;
    height: 120%;
    transform: translateY(0%);
  }
}
